
body{
	font-family:helvetica;
	font-size: 14px;	
}

.options select{
	font-family:helvetica;
	font-size: 12px;
	width: 120px;
	text-align: center;
}

.inputmethod {
	font-family: helvetica;
	font-size: 14px;
}



