
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	font-family:helvetica;
	font-size: 14px;
	background-color: "#3A3C4A";	
}

.options select{
	font-family:helvetica;
	font-size: 12px;
	width: 120px;
	text-align: center;
	background-color: "#5D6D7E";	
}

.inputmethod {
	font-family: helvetica;
	font-size: 14px;
}

.map{
	height: 800px;
    width: 90%;	
}

.chart {
	height:600px; 
	width: 100%;
}

.bar{
	height:300px; 
	width:100%;
}




